# Node modules
node_modules/

# Logs
logs/
*.log
*.log.*

# Archivos de entorno
.env

# Dependencias de npm audit
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de build y cache
dist/
build/
.cache/

# PostgreSQL
*.sql
*.pgsql
*.db

# Sistema operativo
.DS_Store  # macOS
Thumbs.db  # Windows

# Archivos de configuración de IDE
.idea/
.vscode/

# Otros archivos ignorados generalmente
*.env.local
*.env.*.local
